<!DOCTYPE html>
<html lang="en">
<head>
  <% include headers/header %>
  <% include headers/styles %>
  <% include headers/scripts %>
  <title><%= config.appName %></title>
</head>
<body>
  <%- include('parts/main-menu') %>
  <% if(typeof error != "undefined" && error == "404") path = '/404' %>
  <%- include('parts' + path) %> 
 </body>
 </html>