<div class="card-header"><%= strings.play_first_lang %></div>
<div class="card-body">
    <button style="width:100%;" onclick="getFirstWordCardPlay(true)" type="button" 
        class="btn btn-block btn-outline-success"><%= strings.learning_he %></button>
    <button style="width:100%;" onclick="getFirstWordCardPlay(false)" type="button" 
        class="btn btn-block btn-outline-success"><%= strings.learning_native_lang %></button>
</div>