<div class="modal fade" id="addWordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add word to dictionary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="wordType">Word type</label>
            <select class="form-control" id="wordType" onchange="infinitiveToggle()">
              <option value=""></option>
              <option value="verb">Verbs</option>
              <option value="noun">Nouns</option>
              <option value="adj">Adjectives</option>
              <option value="frss">Frases</option>
            </select>
          </div>
          <div class="form-group">
            <label for="wordHb">Hebrew</label>
            <input type="text" class="form-control" id="wordHb">
          </div>
          <div id="div-inf" class="form-group" style="display: none;">
            <label for="wordInf">Infinitive</label>
            <input type="text" class="form-control is-invalid" id="wordInf">
          </div>
          <div class="form-group">
            <label for="wordRu">English</label>
            <input type="text" class="form-control" id="wordEn">
          </div>
          <div class="form-group">
            <label for="wordTr">Transcription</label>
            <input type="text" class="form-control" id="wordTr">
          </div>
        </form>
        <div id="modal-alert" class="text-danger"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveWord()" >Save</button>
      </div>
    </div>
  </div>
</div>



<div class="row" style="margin-top:25px;">
    <div class="col-sm-0 col-lg-2"> </div>
    <div class="col-sm-12 col-lg-8"> 
 
        <form class="form-inline">
          <div class="form-group mb-2 mx-sm-3">
            <label for="word" class="sr-only">Email</label>
            <input type="text" class="form-control" id="word" onkeyup="fillModalHb(this.value)">
          </div>
          
          <button type="button" class="btn btn-primary mb-2" id="addbtn" data-toggle="modal" data-target="#addWordModal">Добавить</button>
          <div class="form-group mb-2 mx-sm-3">
              <div class="btn-group" role="group">
                  <% if (login != undefined) {%>
                  <div class="btn-group" role="group">
                    <button id="wordtype" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Rating
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="#">Not learned</a>
                      <a class="dropdown-item" href="#">Learned, ascending</a>
                      <a class="dropdown-item" href="#">Learned, descending</a>
                    </div>
                  </div>

                  <button type="button" class="btn btn-secondary">Checked</button>
                  
                  <% } %>

                  <div class="btn-group" role="group">
                    <button id="wordtype" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Types
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                      <a class="dropdown-item" href="#">All</a>
                      <a class="dropdown-item" href="#">Verbs</a>
                      <a class="dropdown-item" href="#">Nouns</a>
                      <a class="dropdown-item" href="#">Adjective</a>
                      <a class="dropdown-item" href="#">Frases</a>
                    </div>
                  </div>
              </div>
            </div>
        </form>

        <div id="dictionary-table">
          
        </div>
    </div>
    <div class="col-sm-0  col-lg-2"> </div>
</div>

<script defer src="assets/js/dictionary.js"></script>

