<div class="row" style="margin-top:25px;">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4"> 
        <button type="button" class="btn btn-outline-primary">Ввести новое слово</button>
    </div>
    <div class="col-sm-4"> </div>
</div>